*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(../images/pixel_weave_@2X.png);
    background-repeat: repeat; 
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    font-size: 18px;
    line-height: 34px;
}

#indexhead{
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    overflow: auto;
    margin: 0 0 30px;
    position: fixed;
}

#me{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #4aaaa5;
    float: left;
    text-align: center;
    width: 250px;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
}

nav{
    float: right;
    margin-top: 25px;
}

nav a{
    color: #777777;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child{
    border-left: 0;
}

h2, h3, h4 {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
}

h2{
    font-size: 30px;
    line-height: 48px;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 20px;
}

h3, h4{
    font-size: 22px;
}

p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 30px;
}

p :last-child{
    margin-bottom: 0;
}

#main-container{
    padding-top: 130px;
}

.main-section{
    background: #ffffff;
    max-width: 950px;
    width: 100%;
    border: 1px solid #cccccc;
    margin: 0 0 30px 0;
    padding: 30px;
}

#bio-image{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 30px;
}

.connectbar{
    background: #ffffff;
    max-width: 950px;
    border: 1px solid #cccccc;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}

h3, .connectbar{
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 22px;
}

#connect{
    text-align: center;
}

.social{
    width: 80px;
    height: 80px;
}

footer{
    background: #666666;
    color: #cccccc;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
    text-align: center;
}

#contact-form ul{
    margin-bottom: 20px;
}

#contact-form li{
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea{
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea{
    height: 35px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    font-size: 14px;
}

textarea{
    height: 200px;
}

input[type=submit] {
    background: #4aaaa5;
    color: #ffffff;
    border: 0 none;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

.port-image{
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 30px;
}